/* You can add global styles to this file, and also import other style files */
/* @import '' */

html {
  font-family: monospace;
}

body {
  margin: 0;
  background-image: url("https://source.unsplash.com/daily");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
