<form action="">

<ul class="form-group">
  <h1>First Name</h1>
  <input type="text" placeholder="First Name">
</ul>
<ul>
  <h1>Last Name</h1>
  <input type="text" placeholder="Last Name">
</ul>
<ul>
  <h1>Email</h1>
  <input type="text" placeholder="Email">
</ul>
<ul id="message">
  <h1>Subject</h1>
  <input type="text" placeholder="Subject">
  <h1><textarea name="message" id="" cols="30" rows="10" style="resize: none" placeholder="..."></textarea></h1>
  <button>Submit</button>
</ul>

</form>
